<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->

<!--  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    <encoder>-->
<!--      &lt;!&ndash; %L lowers performance, %C and %c break indentation and therefore reduce readability, normal %t is verbose &ndash;&gt;-->
<!--      <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n</pattern>-->
<!--    </encoder>-->
<!--  </appender>-->

<!--  <appender name="gui" class="journey.guifx.logging.GuiAppender">-->
<!--    <layout class="org.apache.log4j.PatternLayout">-->
<!--      <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n" />-->
<!--    </layout>-->
<!--  </appender>-->
<!--&lt;!&ndash;    <appender name="gui" class="journey.guifx.logging.GuiAppender">&ndash;&gt;-->
<!--&lt;!&ndash;      <encoder>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; %L lowers performance, %C and %c break indentation and therefore reduce readability, normal %t is verbose &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <pattern>%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n</pattern>&ndash;&gt;-->
<!--&lt;!&ndash;      </encoder>&ndash;&gt;-->
<!--&lt;!&ndash;    </appender>&ndash;&gt;-->

<!--&lt;!&ndash;  &lt;!&ndash;<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;<file>local/log/optaplanner.log</file>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;<fileNamePattern>local/log/optaplanner.%i.log.zip</fileNamePattern>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;<minIndex>1</minIndex>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;<maxIndex>3</maxIndex>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;</rollingPolicy>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;<maxFileSize>5MB</maxFileSize>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;</triggeringPolicy>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;<encoder>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;<pattern>%d{HH:mm:ss.SSS} [%t] %-5p %m%n</pattern>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;</encoder>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;</appender>&ndash;&gt;&ndash;&gt;-->

<!--  &lt;!&ndash; To override the debug log level from the command line, use the VM option "-Dlogback.level.org.optaplanner=trace" &ndash;&gt;-->
<!--  <logger name="org.optaplanner" level="${logback.level.org.optaplanner:-debug}"/>-->

<!--  <root level="warn">-->
<!--    <appender-ref ref="consoleAppender" />-->
<!--    <appender-ref ref="gui" />-->
<!--    &lt;!&ndash;<appender-ref ref="fileAppender" />&ndash;&gt;-->
<!--  </root>-->

<!--</configuration>-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%-12.12t] %-5p %m%n" />
    </layout>
  </appender>

  <appender name="gui" class="journey.guifx.logging.GuiAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n" />
    </layout>
  </appender>

<!--  <logger name="org.optaplanner" level="${logback.level.org.optaplanner:-debug}"/>-->

<!--  <logger name="org.optaplanner" additivity="false">-->
<!--    <level value="DEBUG" />-->
<!--    <appender-ref ref="consoleAppender" />-->
<!--  </logger>-->

  <root>
    <level value="warn" />
    <appender-ref ref="consoleAppender" />
    <appender-ref ref="gui" />
  </root>

</log4j:configuration>